<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cosmic App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400i&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">

                <div class="chooser">
                    <div class="chooser-header">
                        <h5> Producenci</h5>
                    </div>
                    <div class="chooser-buttons">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="grindProduce" id="grindProduce1" value="option1">
                            <label class="form-check-label" for="grindProduce1">
                                Intel
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="grindProduce" id="grindProduce2" value="option2">
                            <label class="form-check-label" for="grindProduce2">
                                AMD
                            </label>
                        </div>
                    </div>
                </div>

                <div class="chooser">
                    <div class="chooser-header">
                        <h5> Liczba rdzeni</h5>
                    </div>
                    <div class="chooser-buttons">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option3">
                            <label class="form-check-label" for="gridRadios1">
                                2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios2" value="option4">
                            <label class="form-check-label" for="gridRadios2">
                                4
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios2" value="option4">
                            <label class="form-check-label" for="gridRadios2">
                                6
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios2" value="option4">
                            <label class="form-check-label" for="gridRadios2">
                                8
                            </label>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-10">
                <div class="card mb-3" th:each="i : ${items}">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                            <img th:src="${i.getItemImg()}" class="card-img">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${i.getItemName()}"></h5>
                                <p class="card-text styleRow" th:text="${i.getItemDes()}"></p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>

                        <div class="col-md-3 ">

                            <div class="d-flex flex-column" style="height: 200px;">
                                <div class="p-2">
                                    <h3 style="display: block"> Cena: <p th:text="${i.getItemPrice()}"></p>
                                    </h3>

                                </div>
                                <div class="mt-auto p-2"><button type="button" class="btn btn-primary btn-lg btn-block">Zobacz</button></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>